.form__password-control {
	position: absolute;
	top: 6px;
	right: 5px;
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(./../../../images/view.svg) 0 0 no-repeat;
  cursor: pointer;
}
.form__password-control.visible {
	background: url(./../../../images/no-view.svg) 0 0 no-repeat;
}
